<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title><%- include("../../title.ejs") %> </title>
	<!-- base:css -->
	<link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/vendors/base/vendor.bundle.base.css">
	<!-- endinject -->
	<!-- plugin css for this page -->
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- endinject -->

	<link rel="shortcut icon" href="/images/favicon.png" />
	<link href="/fonts/fontawesome-free-5.13.0-web/css/fontawesome.css" rel="stylesheet">
	<link href="/fonts/fontawesome-free-5.13.0-web/css/brands.css" rel="stylesheet">
	<link href="/fonts/fontawesome-free-5.13.0-web/css/solid.css" rel="stylesheet">

	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
	 
	<script src="/js/jquery.js"></script>
 

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>



	<style>
		.sale-red:after {
			content: '';
			height: 5px;
			width: 100%;
			border-radius: 0 0 6px 6px;
			background-color: red;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		.sale-pink:after {
			content: '';
			height: 5px;
			width: 100%;
			border-radius: 0 0 6px 6px;
			background-color: pink;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		.sale-green:after {
			content: '';
			height: 5px;
			width: 100%;
			border-radius: 0 0 6px 6px;
			background-color: green;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		.sale-black:after {
			content: '';
			height: 5px;
			width: 100%;
			border-radius: 0 0 6px 6px;
			background-color: black;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	</style>
</head>

<body>
	<div class="container-scroller">

		<!-- partial:partials/_horizontal-navbar.html -->
		<div class="horizontal-menu">
			<nav class="navbar top-navbar col-lg-12 col-12 p-0">
				<div class="container-fluid">
					<div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
						<ul class="navbar-nav navbar-nav-left">
							<div
								class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
								<a class="navbar-brand brand-logo" href="/">CRS System</a>
								<a class="navbar-brand brand-logo-mini" href="/"> CRS System</a>
							</div>
						</ul>
						<%- include('../../nav_user',{name:name}) %>

						<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
							data-toggle="horizontal-menu-toggle">
							<span class="mdi mdi-menu"></span>
						</button>
					</div>
				</div>
			</nav>
			<nav class="bottom-navbar">
				<%- include('../../menubar',{level:level}) %> 
			</nav>
		</div>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row mt-3">
						<div class="col-lg-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">ที่ปรึกษา 
										<div class="float-right mr-auto">
										<button type="button" class="btn btn-info" data-toggle="modal" data-target="#add_user_open"
											id="add_user"><i class="fas fa-user-plus"></i></button>
										</div>
										
										</h4>
									<p class="card-description">
										จัดการที่ปรึกษา
									</p>
									<div class="table-responsive">
										<table class="table table-striped text-center" id="professor-table">
											<thead>
												<tr>
													<th>
														ลำดับ
													</th>
													<th>
														ชื่อ
													</th>
													<th>
														นามสกุล
													</th>
													<th>
														ระดับการเข้าสู่ระบบ
													</th>
													<th>
														ระงับการเข้าสู่ระบบ
													</th>
													<th>
														เครื่องมือ
													</th>
												</tr>
											</thead>
										 
											<tbody>
												<% let number =1;  %>
												<% user_data.forEach(element => {%>
												<tr>
													<td class="pt-3 align-middle"> <%= number++ %> </td>
													<td class="pt-3 align-middle"> <%= element.name %> </td>
													<td class="pt-3 align-middle"> <%= element.lastname %> </td>
													<td class="pt-3 align-middle">
														<div class="input-group">
															<select class="custom-select" id="level_professor"  data-userid="<%= element.user_id %>">
																<option value="2"   <% if(element.user_type == 2){ %>
																	<%= "selected" %> <% } %>>ที่ปรึกษา</option>
																<option value="3" <% if(element.user_type == 3){ %>
																	<%= "selected" %> <% } %>>หัวหน้าแผนก</option>
															</select>
														</div>
													</td>
													<td class="pt-3 align-middle">
														<label class="toggle-switch toggle-switch-danger">
															<input type="checkbox" <% if(element.user_status == 1){ %>
																<%= "checked" %> <% } %> id="ban_sataus"  data-userid="<%= element.user_id %>" >
															<span class="toggle-slider round"></span>
														</label>
													</td>
													<td class="pt-3 align-middle">
														<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#transfer_owner" data-user_id="<%= element.user_id %>" id="transfer_open_form" >
															<i class="fas fa-user-cog"> </i>โอนย้ายนักศึกษา</button>
													</td>
												</tr>

												<% 	}); %>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- content-wrapper ends -->
		<!-- partial:partials/_footer.html -->
		<%- include('../../footter') %> 
		<!-- partial -->
	</div>
	<!-- main-panel ends -->
	</div>
	<!-- page-body-wrapper ends -->
	</div>
	<div class="modal fade" id="add_user_open" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">แต่งตั่งที่ปรึกษา</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				 
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">เลือกคนที่แต่งตั่งที่ปรึกษา</label>
						<div class="col-sm-9 " >
							<select class="js-example-basic-single"   name="state" style="width: 100%" id="professor_add">
								<option value="NULL" selected>กรุณาเลือก</option>
								<% combo_student_data.forEach(element =>  {%>
								
								<option value="<%= element.user_id %> "> ID:<%= element.username+" ชื่อ :"+element.name+" "+ element.lastname %>    </option>
									
									<%	}); %>  
							  </select>
				 
						</div>
					  </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
					<button type="button" class="btn btn-primary" id="professor_add_sumbit">บันทึก</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="transfer_owner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">โอนย้ายที่ปรึกษา</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				 
					<div class="form-group row">
						<label class="col-sm-12 col-form-label">เลือกที่ปรึกที่จะโอนย้ายให้</label>
						<div class="col-sm-12 " >
							<select class="js-example-basic-single-2" name="state" style="width: 100%" id="id_owner_set">
								 
								 
							  </select>
				 
						</div>
					  </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
					<button type="button" class="btn btn-primary" id="student_terfect_submit">บันทึก</button>
				</div>
			</div>
		</div>
	</div>

	<!-- container-scroller -->
	<!-- base:js -->
	<script src="vendors/base/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script src="js/template.js"></script>
	<!-- endinject -->
	<!-- plugin js for this page -->
 
	<!-- Font Awesome -->


	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

	<script src="/vendors/typeahead.js/typeahead.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
	<script src="/control/admin/professor.js"></script>
	<%- 
	include("../setting")
	 %>  
	<!-- End custom js for this page-->
</body>

</html>